FQDN=empresa.xdr.us.paloaltonetworks.com #tenant FQDN
API_NAME1=alerts
API_CALL1=get_alerts
API_NAME2=audits
API_CALL2=management_logs
API_NAME3=incidents
API_CALL3=get_incidents
AUTH_ID=<your_api_auth_id>
AUTH_KEY=<your_api_key>
TIME_OFFSET_SECONDS=300
SYSLOG_IP=127.0.0.1
SYSLOG_PORT=514
SYSLOG_ENABLED=false 
WAZUH_SOCKET_ENABLED=false
WAZUH_SOCKET_PATH=/var/ossec/queue/sockets/queue
FILTER_TAGS=some_tag1, some_tag2,
